<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../style/boot-app.css" />
    <!--[if lt IE 9]>
    <script src="../js/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>
    <nav>
        <ul class="pagination">
            <li><a href="#"><span class="angle-double">&lt;&lt;</span><span class="sr-only">上一页</span></a></li>
            <li><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li class="ellipsis"><span>...</span></li>
            <li><a href="#">9</a></li>
            <li><a href="#">10</a></li>
            <li class="disabled"><a href="#"><span class="sr-only">下一页</span><span class="angle-double">&gt;&gt;</span></a></li>
        </ul>
    </nav>
    <nav>
        <ul class="pagination left">
            <li><a href="#"><span class="angle-double">&lt;&lt;</span><span class="sr-only">上一页</span></a></li>
            <li><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li class="ellipsis"><span>...</span></li>
            <li><a href="#">9</a></li>
            <li><a href="#">10</a></li>
            <li class="disabled"><a href="#"><span class="sr-only">下一页</span><span class="angle-double">&gt;&gt;</span></a></li>
        </ul>
    </nav>
    <nav>
        <ul class="pagination right">
            <li><a href="#"><span class="angle-double">&lt;&lt;</span><span class="sr-only">上一页</span></a></li>
            <li><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li class="ellipsis"><span>...</span></li>
            <li><a href="#">9</a></li>
            <li><a href="#">10</a></li>
            <li class="disabled"><a href="#"><span class="sr-only">下一页</span><span class="angle-double">&gt;&gt;</span></a></li>
        </ul>
    </nav>
    <nav>
        <ul class="pagination pagination-sm">
            <li><a href="#"><span class="angle-double">&lt;&lt;</span><span class="sr-only">上一页</span></a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li class="active"><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li class="ellipsis"><span>...</span></li>
            <li><a href="#">9</a></li>
            <li><a href="#">10</a></li>
            <li><a href="#"><span class="sr-only">下一页</span><span class="angle-double">&gt;&gt;</span></a></li>
        </ul>
    </nav>
    <nav>
        <ul class="pagination">
            <li><a href="#">上一页</a></li>
            <li><a href="#">下一页</a></li>
        </ul>
    </nav>
    <nav>
        <ul class="pagination left">
            <li><a href="#">上一页</a></li>
            <li><a href="#">下一页</a></li>
        </ul>
    </nav>
    <nav>
        <ul class="pagination right">
            <li><a href="#">上一页</a></li>
            <li><a href="#">下一页</a></li>
        </ul>
    </nav>

</body>
</html>